{
  "presets": [
    ["env", {
      "targets": {
        "node": 12
      }
    }]
  ],
  "plugins": [
    "transform-class-properties",
    "transform-export-extensions",
    "transform-object-rest-spread",
    "transform-runtime"
  ]
}
